body {
    background-color: rgba(211, 211, 211, 0.73);
    font-family: 'Lato', sans-serif;
}

body * {
    font-family: 'Lato', sans-serif;
}
label {
    display: inline-block;
    text-align: right;
    width: 80px;
}
.mainContainer {
    margin-bottom: 100px;
}

.danger {
    background-color: #ff6666;
}

.table {
    display: table;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
}

.formDiv {
    width: 80%;
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    padding: 50px 0px 50px 0px;
    border-radius: 6px;
}

.resultsDiv {
    width: 80%;
	  display: none;
	  position: absolute;
	  top: 60%;
	  border: solid greenyellow;
      margin-left: 10%;
      margin-top: 30px;
      text-align: center;
	  background-color: white;
	  padding: 50px 0px 50px 0px;
	  box-shadow: 0px 3px 40px 0px rgba(0,0,0,0.49);
	  border-radius: 6px;
	  font-size: 40px;
}

input[type = "radio"], input[type = "checkbox"] {
    zoom: 2;
}

input[type = "number"] {
    width: 48%;
    border: solid 1px #A3A3A3;
    display: block;
    margin: 5px auto;
    padding: 10px;
    font-size: 20px;
    border-radius: 6px;
    display: inline-block;
}

input:hover {
    cursor: pointer;
}

input[type = "submit"] {
    width: 20%;
    min-width: 300px;
    border: solid 1px #A3A3A3;
    display: block;
    margin: 10px auto;
    padding: 10px;
    background-color: white;
    font-size: 20px;
    border-radius: 6px;
}

input[type = "submit"]:hover {
    border: solid 1px #ee0979;
    cursor: pointer;
}

.title {
    text-align: center;
    color: white;
    font-size: 40px;
}

select {
    border: solid 1px #A3A3A3;
    width: 50%;
    background-color: transparent;
    height: 40px;
    margin: 10px;
    font-size: 20px;
}

select:hover {
    cursor: pointer;
}

.back {
    width: 32px;
    float: left;
    margin-left: 20px;
    border: solid 1px white;
    border-radius: 6px;
    padding: 5px;
}

.back:hover {
    border: solid 1px #ee0979;
    cursor: pointer;
}

.closeResults {
    width: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.errorDiv {
    width: 80%;
	  display: none;
	  position: absolute;
	  top: 60%;
	  border: solid greenyellow;
    margin-left: 10%;
    margin-top: 30px;
    text-align: center;
	  background-color: white;
	  padding: 50px 0px 50px 0px;
	  box-shadow: 0px 3px 40px 0px rgba(0,0,0,0.49);
	  border-radius: 6px;
	  font-size: 40px;
}
@media(max-width: 600px) {
    .formDiv {
        width: 98%;
    }
}
